
.Sub-Title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: rgb(216, 119, 28);
    position: absolute;
    left: 83rem;
    top: 270px;

}


.Contact-form{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(215, 222, 228);
  font-size: 25px;
  position: absolute;
  top: 39%;
  left: 83rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.Contact-form input {
  background-color: transparent;
}

.input-box1 {
  width: 300px;
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: none;
}

.input-box2 {
  width: 300px;
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: none;
}

.input-box3 {
  width: 300px;
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: none;
}

.contact-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.location-container {
  padding-left: 19rem;
  padding-top: 3rem;
}

.location img {
  border: 5px solid #ffffff;
  box-shadow: 0 0 50px rgba(206, 202, 202, 0.3);
  position: absolute;
  top: 260px;
  left: 210px;
  width: 55%;
  height: 50%;
  object-fit: cover;
  filter: brightness(55%);
}




.subtitle {
  position: absolute;
  top: 32%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: rgb(255, 255, 255);
  z-index: 1;
  
}

.icons {
  position: absolute;
  top: 55%;
  left: 35%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: rgb(216, 119, 28);
  text-shadow: 0 0 5px #e76767;
  border-radius: 50%;
  animation: glowing 1s infinite;
  z-index: 1;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px rgba(216, 119, 28);
  }
  50% {
    box-shadow: 0 0 20px rgb(202, 108, 20);
  }
}
.Info {
  position: absolute;
  top: 35%;
  left: 20%;
  flex-direction: column;

}
.Info h1{
  color: rgb(215, 222, 228);
  font-size: 15px;
  padding-left: 30rem;
  margin: 30px;
}

.icons-container {
  position: absolute;
  top: 65%;
  left: 75%;
  transform: translateX(-50%);
  color: #e7e1e1;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 30px;
  width: 30%;
}


.icons-container a {
  margin-right: 40px;
}

.Button {
  position: absolute;
    font-size: 30px;
    top: 242px;
    padding-bottom: 14px;
    margin-right: 50px;
    padding-right:100px;
    color: rgb(194, 110, 14);
    border-bottom: 1px solid #e7e1e1; 
    width: 128px; 
}
.Button:hover{
  color: #ffffff;
}

input::placeholder {
  opacity: 0.2;
}








